[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/kumar88862
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/kumar88862
	label-Verified = -1..+1 group user/kumar88862
	push = group user/kumar88862
	read = group user/kumar88862
	rebase = group user/kumar88862
	removeReviewer = group user/kumar88862
	submit = group user/kumar88862
[access "refs/heads/*"]
	create = group user/kumar88862
	push = +force group user/kumar88862
	pushMerge = group user/kumar88862
	read = group user/kumar88862
[access "refs/tags/*"]
	push = group user/kumar88862
	push = +force group user/kumar88862
